@import "partials/settings";
@import "../bower_components/foundation/scss/foundation";

.color_block {

  padding: 50px;
  background-color: #EEE;
  border: 5px solid black;

  &#red{

    border-color: #c71c1c;
    background-color: #f7b2b2;

  }

  &#green{

    border-color: #4A7026;
    background-color: #d3edbb;

  }

  &#blue{

    border-color: #0f6985;
    background-color: #b3e4f2;

  }

}